 .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.stars { 
  cursor: pointer; 

}

.star-rating { 
  display: none; 
}

.form { 
  align-items: center;
  
}

input, textarea, button { 
  display: block;
  margin: 0.5rem auto 0 auto; 
  padding: 0.25rem 0.5rem; 
}

button { 
  border: 1px solid white;
  cursor: pointer; 
}

input, textarea { 
  width: calc(100% - 1rem);
}

.reviewList { 
  align-items: center ;
} */

.movie-app .row { 
  overflow-x: auto;
  flex-wrap: nowrap;
}